#testWrite1 {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: brown;
    float: left;
}
#testWrite2 {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: yellowgreen;
    float: left;
}